<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>西安邮电大学-学生健康管理系统</title>
        <script src="js/jquery-3.2.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />

		<script type="text/javascript">
			$(document).ready(function() {
              getContent()
			});
		</script>
	</head>

	<body>
		<!--页面top-->
		<div class="top">
			<div class="top_nav">
				<ul>
					<li><a href="#">设为首页</a></li>
					<li><a href="#">加入收藏</a></li>
					<li><a href="#">西邮主站</a></li>
				</ul>
			</div>
		</div>
		<!--导航-->
		<div class="header flex">
			<div class="logo"> <img src="images/logo.png" alt="西安邮电大学" /></div>
			<div class="menu">
				<ul>
					<li> <h3><span>信息&下载</span></h3>
					   <ul>
						   <li><a href="news_list.html">通知公告</a></li>
						   <li><a href="">相关下载</a></li> 
					   </ul>
					</li>
					<li> <h3><span>健康知识</span></h3></li>
					<li> <h3><a href="indicators.html"><span>项目&目标</span></a></h3>
					   <ul>
						   <li><a href="indicators.html">项目介绍</a></li>
					   </ul>
					</li>
				</ul>
			</div>
			<div class="top_member">
				<ul>
					<li> <a href=""><i class="icon"></i> 张同学</a></li>
					<li> <a href="">常见问题</a></li>
					<li> <a href="" class="btn_exit">LogOut</a></li>
				</ul>
			</div>
		</div>
		<!--页面位置导航-->
		<div class="page_title flex">
			<div class="navigation" id="showNotice1">
				<a href="">首页</a><em>/</em>
				<a href="">信息&下载</a><em>/</em>
				<!--				<span>我校教师热议习近平总书记给全国高校黄大年式教师团队代表的回答</span>-->
			</div>
			<div class="time">当前时间：2021年10月09日 22:22:22  星期五</div>
		</div>
		
		<!--页面内容部分-->
       <div class="page">
		   <div class="news_tit" id="showNotice2">
<!--			   <h3>我校教师热议习近平总书记给全国高校黄大年式教师团队代表的回答</h3>-->
<!--			   <span>发布单位：体育学院</span>-->
<!--			   <span>2021-02-12 10:34</span>-->
		   </div>
			<div class="news_cont" id="showNoticeContent">
<!--				<p>本网讯（记者 丁琳）在第三十七个教师节来临之际，中共中央总书记、国家主席、中央军委主席习近平9月8日给全国高校黄大年式教师团队代表回信，对他们寄予殷切期望，并向全国广大教师致以节日的祝贺和诚挚的祝福。习近平总书记的回信在我校广大教师中引发热议。</p>-->
<!--			<p>校党委书记杨更社表示，习近平总书记给全国高校黄大年式教师团队代表的回信，既让广大教师感受到节日的温暖，更深刻认识到教师职业的无上光荣和神圣使命。西邮广大教师将践行“四有”好老师标准，当好“四个引路人”，做到“四个相统一”，深入学习黄大年同志心有大我、至诚报国的爱国情怀，教书育人、敢为人先的敬业精神，淡泊名利、甘于奉献的高尚情操，为培养德智体美劳全面发展的社会主义建设者和接班人、全面建设社会主义现代化国家不断作出新贡献。</p>-->
<!--			<p>校长范九伦表示，习近平总书记的回信情深意切、内涵丰富，充分体现了对广大教育工作者的高度重视和亲切关怀，折射出感人至深、催人奋进的精神力量。我们要深入学习贯彻习近平总书记回信精神，把治学作为第一追求，在仰望星空中求索，在脚踏实地中求真；把创新作为第一动力，扎根三秦大地，积极服务秦创原平台建设；把师德师风作为第一标准，明师道、铸师魂、扬师风，做立德树人的“大先生”，当好学生成长成才的引路人。</p>-->
<!--			<p>校党委副书记王国良表示，西邮广大教师要以黄大年同志为榜样，学习他的爱国情怀、敬业精神和高尚情操，不断加强师德师风建设，争当新时代“四有”好教师，充分发挥干事创业的积极性、主动性和创造性，全面落实立德树人根本任务，自觉肩负起为党育人为国育才的光荣使命，培养德智体美劳全面发展的社会主义建设者和接班人。</p>-->
<!--			<p>电子工程学院张倩老师说：“习近平总书记的回信让我备受鼓舞，作为一名青年教师，我要学习黄大年同志的高尚精神，不断锤炼师德，提高教学能力，潜心科学研究，坚持以学生为本，争做‘四有’好老师。”-->
<!--计算机学院教授孙家泽老师说：“作为一名教学科研一线教师，我要像黄大年同志学习，坚持以德立身、以德立学、以德施教，当好学生的良师益友。要立足本职岗位，潜心治学，紧跟前沿，勇攀科技高峰，真正把论文写在祖国大地上。”</p>-->
<!--			<p>网络空间安全学院辅导员刘琳老师说：“作为一名高校辅导员，我将认真学习总书记回信精神，以黄大年同志为榜样，聚焦辅导员主责主业，不断增强育人本领，用心用情用爱做好学生的日常思想政治教育，做好学生成长成才的引路人。”-->
<!--经济与管理学院教授田巧娣老师说：“作为一个具有32年教龄、35年党龄的老教师，我将以黄大年同志为榜样，立足本职岗位，踏踏实实做事、老老实实做人、勤勤恳恳待人，把为学、为事、为人统一起来，当好学生成长成才的引路人，做一名让党和人民满意、学生喜爱的‘四有’好老师。”</p>-->
<!--			<p>民革党员、理学院教授贾艳敏老师说：“作为一名高校教师，我从总书记的回信中读出了沉甸甸的责任。我将牢记嘱托，不忘初心，潜心治学，立德树人，做学生品格锤炼的引路人、学习知识的引路人、科研创新的引路人、奉献祖国的引路人。”</p>-->
<!--			<p>马克思主义学院副院长袁文伟老师说：“作为一名思政课教师，要深入学习贯彻总书记回信精神，努力做到‘政治要强、情怀要深、思维要新、视野要广、自律要严、人格要正’，用真理的力量感召学生，用深厚的理论功底感染学生，用高尚的人格感动学生，教育引导学生扣好人生第一粒扣子。”</p>-->
<!--			<p></p>-->
			</div>	
       </div>



		<!--底部代码-->
		<div class="bottom w_long">
			<div class="bottom_copy">
				<p>
					Copyright @ 2019-2022 西安邮电大学维护</br>
					网站备案号：陕IPC243434****-01
				</p>
			</div>
		</div>
	</body>
<script>
	function getContent() {
		var num = parseInt(location.search.substr(4,location.search.length))
		console.log(num)
		dataJson = {"id":num}
		$.ajax({
			url:"/download/getDownload",
			method:"get",
			data:dataJson,
			success: function (result) {

				console.log(result)
				downloadName = '<h3>'+result.obj.downloadName+'</h3>'+'<span>发布单位：体育学院</span>'+'<span>'+result.obj.time+'</span>'
				$("#showNotice2").html(downloadName)
				downloadName1 = '<a href="">首页</a><em>/</em>'+'<a href="">信息&下载</a><em>/</em>'+'<span>'+result.obj.downloadName+'</span>'
				$("#showNotice1").html(downloadName1)
				downloadContent = '<p>'+result.obj.downloadContent+'</p>>'
				$("#showNoticeContent").html(downloadContent)
			},
			error: function () {
				alert("请求服务器失败!");
			}
		})
	}
</script>
</html>
