<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>西安邮电大学-学生健康管理系统</title>
		<script src="js/jquery-3.2.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<!--时间选择器-->
		<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="assets/theme/css/tempusdominus-bootstrap-4.css" rel="stylesheet">
		<script src="assets/js/moment-with-locales.min.js"></script>
		<script src="assets/js/tempusdominus-bootstrap-4.js"></script>
		<!--时间选择器-->

		<script type="text/javascript">
			$(document).ready(function() {

			});
		</script>
	</head>

	<body>
		<div id="app">
			<!--页面top-->
			<div class="top">
				<div class="top_nav">
					<ul>
						<li><a href="#">设为首页</a></li>
						<li><a href="#">加入收藏</a></li>
						<li><a href="#">西邮主站</a></li>
					</ul>
				</div>
			</div>
			<!--导航-->
			<div class="header flex">
				<div class="logo"> <img src="images/logo.png" alt="西安邮电大学" /></div>
				<div class="menu">
					<ul>
						<li>
							<h3><span>信息&下载</span></h3>
							<ul>
								<li><a href="">通知公告</a></li>
								<li><a href="">相关下载</a></li>
							</ul>
						</li>
						<li>
							<h3><a href=""><span>健康知识</span></a></h3>
						</li>
						<li>
							<h3><a href=""><span>项目&目标</span></a></h3>
							<ul>
								<li><a href="">项目介绍</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="top_member">
					<ul>
						<li> <a href="member_stu.html"><i class="icon"></i> 张同学</a></li>
						<li> <a href="">常见问题</a></li>
						<li> <a href="member_tea.html" class="btn_exit">LogOut</a></li>
					</ul>
				</div>
			</div>
			<!--页面位置导航-->
			<div class="page_title flex">
				<div class="navigation">
					<a href="">首页</a><em>/</em>
					<a href="member_tea_analysis01.html">全校综合情况</a><em>/</em>
					<span>单项成绩分布情况</span>
				</div>
				<div class="time">当前时间：2021年10月09日 22:22:22 星期五</div>
			</div>

			<!--页面内容部分-->
			<div class="page flex">
				<div class="page_nav">
					<h3>功能菜单</h3>
					<dl>
						<dd><a href="member_tea.html"><span class="iconfont icon-fabuxuqiu"></span>学生数据</a></dd>
						<dd>
							<h4 class="this"><span class="iconfont icon-fabuxuqiu"></span>统计分析</h4>
							<dl>
								<dd><a href="member_tea_analysis01.html"> 全校综合情况</a></dd>
								<dd><a href="member_tea_analysis02.html"> 单项目情况</a></dd>
								<dd><a href="member_tea_analysis03.html"> 指标情况</a></dd>
							</dl>
						</dd>
						<dd>
							<h4><span class="iconfont icon-fabuxuqiu"></span>网站信息维护</h4>
							<dl>
								<dd><a href="editor_list.html" class="hover"> 通知公告</a></dd>
								<dd><a href="editor_list_download.html"> 相关下载</a></dd>
							</dl>
						</dd>
						<dd>
							<h4><span class="iconfont icon-fabuxuqiu"></span>健康指导维护</h4>
							<dl>
								<dd><a href="editor_editor.html"> 健康意见编辑</a></dd>
							</dl>
						</dd>
					</dl>
				</div>
				<div class="page_right">
					<div class="data_nav">
						<form>
							<div class="btn-group btn-group-sm">
								<button  type="button" class="btn btn-primary btn-blue" data-toggle="modal" data-target="#addModal">发布公告</button>
							</div>
							<!-- Modal -->
							<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="myModalLabel">公告发布</h4>
										</div>
										<div class="modal-body">
											<form>
												<div class="form-group">
													<label for="addForm_title">请输入标题</label>
													<input type="email" class="form-control" id="addForm_title" placeholder="title">
												</div>
												<div class="form-group">
													<label for="addForm_cont">请输入内容</label>
													<textarea class="form-control" rows="20" id="addForm_cont"></textarea>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
											<button type="button" class="btn btn-primary" @click="addNotice()">Save changes</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="stu_list">
						<table class="table table-bordered">
							<thead>
							<tr>
								<th>序号</th>
								<th>标题</th>
								<th>状态</th>
								<th>时间</th>
								<th>修改</th>
								<th>删除</th>
							</tr>
							</thead>
							<tbody v-for="(notice,item) of notices" :key="item">

							<tr>
								<td>{{notice.noticeId}}</td>
								<td width="500">{{notice.noticeName}}</td>
								<td>已发布</td>
								<td>{{notice.noticeDate}}</td>
								<td><button  type="button" class="btn btn-primary btn-blue" data-toggle="modal" data-target="#changeModal" @click="changeNowId(notice.noticeId,notice.noticeName,notice.noticeContent)">修改</button></td>
								<td><a @click="deleteAction(notice.noticeId)">删除</a></td>
							</tr>
							<!--							<tr>-->
							<!--								<td><input class="form-check-input" type="checkbox"  checked></td>-->
							<!--								<td>2</td>-->
							<!--								<td width="500">国家卫生健康委办公厅 教育部办公厅关于印发高等学校、中小学校和托幼机构新冠肺炎疫情防控技术方案（第四版）的通知</td>-->
							<!--								<td>已发布</td>-->
							<!--								<td>2021-09-01 13:23:12</td>-->
							<!--								<td>工号张老师</td>-->
							<!--								<td><a href="#">撤销</a></td>-->
							<!--								<td><a href="news_cont.html">预览</a></td>-->
							<!--							</tr>-->
							<!--							<tr>-->
							<!--								<td><input class="form-check-input" type="checkbox"  checked></td>-->
							<!--								<td>3</td>-->
							<!--								<td width="500">国家卫生健康委办公厅 教育部办公厅关于印发高等学校、中小学校和托幼机构新冠肺炎疫情防控技术方案（第四版）的通知</td>-->
							<!--								<td>已发布</td>-->
							<!--								<td>2021-09-01 13:23:12</td>-->
							<!--								<td>工号张老师</td>-->
							<!--								<td><a href="#">撤销</a></td>-->
							<!--								<td><a href="news_cont.html">预览</a></td>-->
							<!--							</tr>-->
							</tbody>
						</table>
						<!-- 修改的Modal -->
						<div class="modal fade" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel2">公告发布</h4>
									</div>
									<div class="modal-body">
										<form>
											<div class="form-group">
												<label for="changeTitle">请输入标题</label>
												<input type="email" class="form-control" id="changeTitle" placeholder="title" >
											</div>
											<div class="form-group">
												<label for="changeCont">请输入内容</label>
												<textarea class="form-control" rows="20" id="changeCont">{{noticeContent}}</textarea>
											</div>
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-primary" @click="changeNotice()">Save changes</button>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>


			</div>

		</div>


		<!--底部代码-->
		<div class="bottom w_long">
			<div class="bottom_copy">
				<p>
					Copyright @ 2019-2022 西安邮电大学维护</br>
					网站备案号：陕IPC243434****-01
				</p>
			</div>
		</div>
		</div>
	</body>
<script>
	// init vue instance
	let vm = new Vue({
		el:'#app',
		data:()=>{
			return {
				notices:[],
				nowNoticeId:null,
				noticeContent:null
			}
		},
		mounted(){
			this.getNotices();
		},
		methods:{
			getNotices(){
				$.ajax({
					url: "/notice/getAllNotice",
					method: "get",
					success: (result)=> {
						this.notices = result.obj;
					},
					error: function () {
						alert("请求服务器失败!");
					}
				})
			},
			deleteAction(id){
				if(confirm('确定删除？','取消')){
					// dataJson = {"noticeId":id};
					$.ajax({
						url:"/notice/deleteNotice/?noticeId="+id,
						type:"get",
						contentType:"application/json",
						success: (result)=> {
							if (result.code===200){
								alert("删除成功");
								location.reload();
							}else{
								alert("删除失败。。")
							}

						},
						error: function () {
							alert("请求服务器失败!");
						}
					})
				}
			},
			addNotice(){
				var title = $("#addForm_title").val()
				var content = $("#addForm_cont").val()
				if (title.length===0){
					alert("标题不能为空！")
				}else if (content.length===0){
					alert("内容不能为空")
				}else {
					addNoticeJson = {"noticeId":null,"notice_name":title,"noticeDate":null,"notice_content":content};
					$.ajax({
							url: "/notice/addNotice",
							method: "post",
							data:addNoticeJson,
							dataType: "json",
							// contentType: "application/json;charset=utf-8",
							success: function (result) {
								if (result.code===200){
									alert("添加成功");
									location.reload();
								}
								else alert("添加失败！")
							},
							error: function () {
								alert("请求服务器失败!");
							}
					})
				}
			},
			changeNowId(id,noticeName,noticeContent){
				this.nowNoticeId = id;
				$("#changeTitle").attr("value",noticeName);
				this.noticeContent = noticeContent
			},
			changeNotice(){
				var noticeId = this.nowNoticeId;
				var notice_name = $("#changeTitle").val()
				var notice_content = $("#changeCont").val()
				addNoticeJson = {"noticeId":noticeId,"notice_name":notice_name,"noticeDate":null,"notice_content":notice_content};
				console.log(addNoticeJson)
				$.ajax({
					url: "/notice/changeNotice",
					method: "post",
					data:addNoticeJson,
					dataType: "json",
					// contentType: "application/json;charset=utf-8",
					success: function (result) {
						if (result.code===200){
							alert("修改成功");
							location.reload();
						}
						else alert("修改失败！")
					},
					error: function () {
						alert("请求服务器失败!");
					}
				})
			}
		}
	})
</script>
</html>
