<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>西安邮电大学-学生健康管理系统</title>
       <script src="js/jquery-3.2.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				updateCaptcha()
				getNoticeList()
				getDownloadList()
			});
		</script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />

	</head>

	<body >
		
		<div id="app" class="body_bg">
		<!--页面top-->
		<div class="top">
			<div class="top_nav">
				<ul>
					<li><a href="#">设为首页</a></li>
					<li><a href="#">加入收藏</a></li>
					<li><a href="#">西邮主站</a></li>
				</ul>
			</div>
		</div>
		<div class="index_logo"><a href="#"> <img src="images/logo.png" alt="西安邮电大学" /></a></div>
		<!--页面内容部分-->
		<div class="index_content flex">
			
			<!-- <div class="iconground">
				<span class="icon01"></span>
				<span class="icon02"></span>
			</div> -->
			<div class="index_box">
				<div class="box_tit flex"> <h3>工作动态</h3> <a href="news_list.html">更多&gt;</a> </div>
				<dl  id="getNoticeList">
<!--					<dd v-for="(notice,item) of noticeList" :key=item><a href="news_cont.html?id='+{{notice.noticeId}}}">{{notice.noticeName}}</a>></dd>-->
<!--					<dt><a href="">我校教师热议习近平总书记给全国高校黄大年式教师团队代表的回信</a></dt>-->
<!--				    <dd><a href="">【创建文明校园专栏】学生工作部举办“世界精神卫生日”</a><span>10-20</span></dd>-->
<!--					<dd><a href="">我校教师热议习近平总书记给全国高校黄大年式教师团队代表的回信</a><span>10-20</span></dd>-->
<!--					<dd><a href="">通园举办新生小组互助合作学习答辩活动</a><span>10-20</span></dd>-->
<!--					<dd><a href="">通园举办新生小组互助合作学习答辩活动</a><span>10-20</span></dd>-->
				</dl>
			</div>
		    <div class="index_box">
		    	<div class="box_tit flex"> <h3>相关下载</h3> <a href="download_list.html">更多&gt;</a> </div>
		    	<dl id="getDownloadList" >
<!--					<dd v-for="(download,item) of DownloadList" :key=item>{{download.downloadName}}</dd>-->
<!--		    	    <dd><a href="">报名申请表下载</a><span>10-20</span></dd>-->
<!--		    		<dd><a href="">报名申请表下载</a><span>10-20</span></dd>-->
<!--					<dd><a href="">报名申请表下载</a><span>10-20</span></dd>-->
<!--					<dd><a href="">报名申请表下载</a><span>10-20</span></dd>-->
		    	</dl>
		    </div>
			<div class="login_form">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" placeholder="请输入学号/职工号" id="uname">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" class="form-control" placeholder="请输入密码"id="upwd">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8">
							<input type="text" class="form-control" placeholder="输入验证码" id="captcha">
						</div>
						<div class="btn_yanzheng">
							<img src="" id="captcha-img"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<select class="form-control" name="role">
								<option value="student">学生</option>
								<option value="teacher">老师</option>
							</select>
						</div>

					</div>
					<div class="form_btn">
						<a><button type="button" class="btn btn-lg btn-block btn_bule" onclick="login()" >登录</button></a>
					</div>
					<div class="form-group">
					<a href="#" class="forget_btn">忘记密码</a>
					</div>
					<div class="form-group">
					<p>说明：学生用户使用学号，密码身份证后6位登录，老师使用职工号，密码身份证后6位登录。</p>
					</div>
				</form>
			</div>
		</div>	
		<!--页面header部分-->
		<!--底部代码-->
		<div class="bottom w_long">
			<div class="bottom_copy">
				<p>
					Copyright @ 2019-2022 西安邮电大学维护</br>
					网站备案号：陕IPC243434****-01
				</p>
			</div>
		</div>
		</div>
	</body>

<script>
	// 验证码更新ajax和刷新index
	function updateCaptcha() {
		$.ajax({
			url: "/captcha?time="+ new Date(),
			// url: "/captcha",
			method: "get",
			success: function (result) {
				// alert(result)
				document.getElementById("captcha-img").src= result
			},
			error: function () {
				alert("请求服务器失败!");
			}
		});
	}
	// 登录ajax
	function login() {
		var uname = $("#uname").val();
		var upwd = $("#upwd").val();
		if (uname == null || uname === "") {
			alert("用户名不能为空!");
			return;
		} else if (upwd.length == 0) {
			alert("密码不能为空!");
			return;
		} else
		if (upwd.length < 6 || upwd.length > 12) {
			alert("密码应该在 6-12 位之间!");
			return;
		} else
			var type = $('select  option:selected').val();
			var data = {
			"username": $("#uname").val(),
					"password": $("#upwd").val(),
					"code":$("#captcha").val(),
					"role":type,
		}
		$.ajax({
			url: "/login",
			method: "post",
			data:JSON.stringify(data), //将对象转为为json字符串
			dataType:"json",
			contentType:"application/json",
			success: function (result) {
				// alert(result.code)
				if (result.code===200){
					if (type==='student'){
						window.localStorage.setItem("userId",$("#uname").val())
						window.location.href = 'member_stu.html';
					}else{
						window.location.href = 'member_tea.html';
					}
				}else if(result.code===500){
					alert(result.message)
				}
			},
			error: function () {
				alert("请求服务器失败!");
			}
		});
	}
	function getNoticeList() {
		let ans;
		$.ajax({
			url: "/notice/getNoticeList",
			method: "get",
			success: function (result) {
				var noticeList = '<dt><a href="news_cont.html?id='+result.obj[0].noticeId+'">'+result.obj[0].noticeName+'</a></dt>'
				var len = result.obj.length
				for (var i = 1; i < len; i++){
					noticeList=noticeList+'<dd><a href="news_cont.html?id='+result.obj[i].noticeId+'">'+result.obj[i].noticeName+'</a><span>'+result.obj[i].noticeDate+'</span></dd>'
				}
				console.log(result.obj[0].noticeDate)
				$("#getNoticeList").html(noticeList)
				ans=result;
			},
			error: function () {
				alert("请求服务器失败!");
			}

		})
	}
	function getDownloadList() {
		$.ajax({
			url: "/download/getServiceList",
			method: "get",
			success: function (result) {
				var len = result.obj.length
				var downloadList = ''
				for (var i = 0; i < len; i++){
					downloadList=downloadList+'<dd><a href="download_cont.html?id='+result.obj[i].downloadId+'">'+result.obj[i].downloadName+'</a><span>'+result.obj[i].time+'</span></dd>'
				}
				$("#getDownloadList").html(downloadList)
			},
			error: function () {
				alert("请求服务器失败!");
			}

		})
	}

	// // init vue instance
	// let vm = new Vue({
	// 	el:'#app',
	// 	data:()=>{
	// 		return {
	// 			noticeList:	null,
	// 			DownloadList:null
	//
	// 		}
	// 	},
	// 	mounted(){
	// 		this.getNoticeList();
	// 		this.getDownloadList();
	// 	},
	// 	methods:{
	// 		getNoticeList(){
	// 			$.ajax({
	// 				url: "/notice/getNoticeList",
	// 				method: "get",
	// 				success: (result)=> {
	// 					this.noticeList = result.obj;
	// 				},
	// 				error: function () {
	// 					alert("请求服务器失败!");
	// 				}
	//
	// 			})
	// 		},
	// 		getDownloadList(){
	// 			$.ajax({
	// 				url: "/download/getServiceList",
	// 				method: "get",
	// 				success: (result)=> {
	// 					this.DownloadList = result.obj;
	// 				},
	// 				error: function () {
	// 					alert("请求服务器失败!");
	// 				}
	// 			})
	// 		}
	// 	}
	// })

</script>

</html>
