<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>西安邮电大学-学生健康管理系统</title>
		<script src="js/jquery-3.2.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.min.js"></script>
		<script src="js/echarts.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />

<!--		&lt;!&ndash;时间选择器&ndash;&gt;-->
<!--		<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
<!--		<link href="assets/theme/css/tempusdominus-bootstrap-4.css" rel="stylesheet">-->
<!--		<script src="assets/js/moment-with-locales.min.js"></script>-->
<!--		<script src="assets/js/tempusdominus-bootstrap-4.js"></script>-->
<!--		&lt;!&ndash;时间选择器&ndash;&gt;-->

		<script type="text/javascript">
			$(document).ready(function() {

			});
		</script>
	</head>

	<body>
		<!--页面top-->
		<div class="top">
			<div class="top_nav">
				<ul>
					<li><a href="#">设为首页</a></li>
					<li><a href="#">加入收藏</a></li>
					<li><a href="#">西邮主站</a></li>
				</ul>
			</div>
		</div>
		<!--导航-->
		<div class="header flex">
			<div class="logo"> <img src="images/logo.png" alt="西安邮电大学" /></div>
			<div class="menu">
				<ul>
					<li>
						<h3><span>信息&下载</span></h3>
						<ul>
							<li><a href="">通知公告</a></li>
							<li><a href="">相关下载</a></li>
						</ul>
					</li>
					<li>
						<h3><a href=""><span>健康知识</span></a></h3>
					</li>
					<li>
						<h3><a href=""><span>项目&目标</span></a></h3>
						<ul>
							<li><a href="">项目介绍</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="top_member">
				<ul>
					<li> <a href="member_stu.html"><i class="icon"></i> 张同学</a></li>
					<li> <a href="">常见问题</a></li>
					<li> <a href="member_tea.html" class="btn_exit">LogOut</a></li>
				</ul>
			</div>
		</div>
		<!--页面位置导航-->
		<div class="page_title flex">
			<div class="navigation">
				<a href="">首页</a><em>/</em>
				<a href="member_tea_analysis01.html">全校综合情况</a><em>/</em>
				<span>单项成绩分布情况</span>
			</div>
			<div class="time">当前时间：2021年10月09日 22:22:22 星期五</div>
		</div>

		<!--页面内容部分-->
		<div class="page flex">
			<div class="page_nav">
				<h3>功能菜单</h3>
				<dl>
					<dd><a href="member_tea.html"><span class="iconfont icon-fabuxuqiu"></span>学生数据</a></dd>
					<dd>
						<h4 class="this"><span class="iconfont icon-fabuxuqiu"></span>统计分析</h4>
						<dl>
							<dd><a href="member_tea_analysis01.html" class="hover"> 全校综合情况</a></dd>
							<dd><a href="member_tea_analysis02.html"> 单项目情况</a></dd>
							<dd><a href="member_tea_analysis03.html"> 指标情况</a></dd>
						</dl>
					</dd>
					<dd>
						<h4><span class="iconfont icon-fabuxuqiu"></span>网站信息维护</h4>
						<dl>
							<dd><a href="editor_list.html"> 通知公告</a></dd>
							<dd><a href="editor_list.html"> 相关下载</a></dd>
							<dd><a href="editor_list.html"> 工作动态</a></dd>
							<dd><a href="editor_list.html"> 常见问题</a></dd>
							<dd><a href="editor_list.html"> 健康知识</a></dd>
						</dl>
					</dd>
					<dd>
						<h4><span class="iconfont icon-fabuxuqiu"></span>健康指导维护</h4>
						<dl>
							<dd><a href="editor_editor.html"> 健康意见编辑</a></dd>
						</dl>
					</dd>
				</dl>
			</div>
			<div class="page_right">
				<div class="analysis_top flex">
					<h3>年级成绩分布</h3>
					<div class="date_screening">
						<form>
							<div class="row">
								<div class="col-sm-4 ">
									<a href="">全站群</a>
								</div>
								<div class="col-sm-2">
									<h4>期间数据：</h4>
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control datetimepicker-input" id="datetimepicker5" data-toggle="datetimepicker"
									 data-target="#datetimepicker5" />
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control datetimepicker-input" id="datetimepicker6" data-toggle="datetimepicker"
									 data-target="#datetimepicker6" />
								</div>
								<script type="text/javascript">
									// $(function() {
									// 	$('#datetimepicker5').datetimepicker();
									// 	$('#datetimepicker6').datetimepicker();
									// });
								</script>
							</div>
						</form>
					</div>
				</div>
				<div class="data_nav">
					<form>
					</form>
					<form>
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-blue">全部</button>
							<button type="button" class="btn">男</button>
							<button type="button" class="btn">女</button>
						</div>
						<div class="btn-group btn-group-sm">
							<button type="button" class="btn btn-blue">全部</button>
							<button type="button" class="btn">大一</button>
							<button type="button" class="btn">大二</button>
							<button type="button" class="btn">大三</button>
							<button type="button" class="btn">大四</button>
						</div>
					</form>
				</div>
                <div class="data_box">
					
					<div id="all_class" style="width: 1000px;height: 600px" class="data_eachert"></div>
				</div>
				<div class="stu_list">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>专业</th>
								<th>优秀</th>
								<th>良好</th>
								<th>合格</th>
								<th>不合格</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>大一</td>
								<td>768</td>
								<td>15</td>
								<td>689</td>
								<td>1024</td>
							</tr>
							<tr>
								<td>大二</td>
								<td>768</td>
								<td>15</td>
								<td>689</td>
								<td>1024</td>
							</tr>
							<tr>
								<td>大三</td>
								<td>768</td>
								<td>15</td>
								<td>689</td>
								<td>1024</td>
							</tr>
							<tr>
								<td>大四</td>
								<td>768</td>
								<td>15</td>
								<td>689</td>
								<td>1024</td>
							</tr>
							<tr>
								<td>总计（平均）</td>
								<td>768</td>
								<td>15</td>
								<td>689</td>
								<td>1024</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>


		</div>

		</div>


		<!--底部代码-->
		<div class="bottom w_long">
			<div class="bottom_copy">
				<p>
					Copyright @ 2019-2022 西安邮电大学维护</br>
					网站备案号：陕IPC243434****-01
				</p>
			</div>
		</div>
	</body>
<script>
	//全校统计条形图
	var app = {};

	var chartDom = document.getElementById('all_class');
	var myChart = echarts.init(chartDom);
	var option;

	const posList = [
		'left',
		'right',
		'top',
		'bottom',
		'inside',
		'insideTop',
		'insideLeft',
		'insideRight',
		'insideBottom',
		'insideTopLeft',
		'insideTopRight',
		'insideBottomLeft',
		'insideBottomRight'
	];
	app.configParameters = {
		rotate: {
			min: -90,
			max: 90
		},
		align: {
			options: {
				left: 'left',
				center: 'center',
				right: 'right'
			}
		},
		verticalAlign: {
			options: {
				top: 'top',
				middle: 'middle',
				bottom: 'bottom'
			}
		},
		position: {
			options: posList.reduce(function (map, pos) {
				map[pos] = pos;
				return map;
			}, {})
		},
		distance: {
			min: 0,
			max: 100
		}
	};
	app.config = {
		rotate: 90,
		align: 'left',
		verticalAlign: 'middle',
		position: 'insideBottom',
		distance: 15,
		onChange: function () {
			const labelOption = {
				rotate: app.config.rotate,
				align: app.config.align,
				verticalAlign: app.config.verticalAlign,
				position: app.config.position,
				distance: app.config.distance
			};
			myChart.setOption({
				series: [
					{
						label: labelOption
					},
					{
						label: labelOption
					},
					{
						label: labelOption
					},
					{
						label: labelOption
					}
				]
			});
		}
	};
	const labelOption = {
		show: true,
		position: app.config.position,
		distance: app.config.distance,
		align: app.config.align,
		verticalAlign: app.config.verticalAlign,
		rotate: app.config.rotate,
		formatter: '{c}  {name|{a}}',
		fontSize: 16,
		rich: {
			name: {}
		}
	};
	option = {
		tooltip: {
			trigger: 'axis',
			axisPointer: {
				type: 'shadow'
			}
		},
		legend: {
			data: ['优秀', '良好', '及格', '不及格']
		},
		toolbox: {
			show: true,
			orient: 'vertical',
			left: 'right',
			top: 'center',
			feature: {
				mark: { show: true },
				dataView: { show: true, readOnly: false },
				magicType: { show: true, type: ['line', 'bar', 'stack'] },
				restore: { show: true },
				saveAsImage: { show: true }
			}
		},
		xAxis: [
			{
				type: 'category',
				axisTick: { show: false },
				data: ['2012', '2013', '2014', '2015', '2016']
			}
		],
		yAxis: [
			{
				type: 'value'
			}
		],
		series: [
			{
				name: '优秀',
				type: 'bar',
				barGap: 0,
				label: labelOption,
				emphasis: {
					focus: 'series'
				},
				data: [320, 332, 301, 334, 390],
				itemStyle: {
					normal: {
						color:"#7B68EE",
					},
				},
			},
			{
				name: '良好',
				type: 'bar',
				label: labelOption,
				emphasis: {
					focus: 'series'
				},
				data: [220, 182, 191, 234, 290],
				itemStyle: {
					normal: {
						color:'#EFE42A',
					},
				},
			},
			{
				name: '及格',
				type: 'bar',
				label: labelOption,
				emphasis: {
					focus: 'series'
				},
				data: [150, 232, 201, 154, 190],
				itemStyle: {
					normal: {
						color:'#64BD3D',
					},
				},
			},
			{
				name: '不及格',
				type: 'bar',
				label: labelOption,
				emphasis: {
					focus: 'series'
				},
				data: [98, 77, 101, 99, 40],
				itemStyle: {
					normal: {
						color:'#EE9201',
					},
				},
			}
		]
	};

	option && myChart.setOption(option);
</script>
</html>
