<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>西安邮电大学-学生健康管理系统</title>
		<script src="js/jquery-3.2.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript">
			$(document).ready(function() {

			});
		</script>
	</head>

	<body>
		<!--页面top-->
		<div class="top">
			<div class="top_nav">
				<ul>
					<li><a href="#">设为首页</a></li>
					<li><a href="#">加入收藏</a></li>
					<li><a href="#">西邮主站</a></li>
				</ul>
			</div>
		</div>
		<!--导航-->
		<div class="header flex">
			<div class="logo"> <img src="images/logo.png" alt="西安邮电大学" /></div>
			<div class="menu">
				<ul>
					<li>
						<h3><span>信息&下载</span></h3>
						<ul>
							<li><a href="news_list.html">通知公告</a></li>
							<li><a href="">相关下载</a></li>
						</ul>
					</li>
					<li>
						<h3><span>健康知识</span></h3>
					</li>
					<li>
						<h3><a href="indicators.html"><span>项目&目标</span></a></h3>
						<ul>
							<li><a href="indicators.html">项目介绍</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="top_member">
				<ul>
					<li> <a href="member_stu.html"><i class="icon"></i> 张同学</a></li>
					<li> <a href="">常见问题</a></li>
					<li> <a href="" class="btn_exit">LogOut</a></li>
				</ul>
			</div>
		</div>
		<!--页面位置导航-->
		<div class="page_title flex">
			<div class="navigation">
				<a href="">首页</a><em>/</em>
				<!-- <a href="">信息&下载</a><em>/</em> -->
				<span>项目&指标</span>
			</div>
			<div class="time">当前时间：2021年10月09日 22:22:22 星期五</div>
		</div>

		<!--页面内容部分-->
		<div class="page flex">
			<div class="page_nav">
				<h3>项目&指标</h3>
				<dl>
					<dd><a href="" class="this"><span class="iconfont icon-fabuxuqiu"></span>50米跑</a></dd>
					<dd><a href=""><span class="iconfont icon-fabuxuqiu"></span>1000米跑</a></dd>
					<dd><a href=""><span class="iconfont icon-fabuxuqiu"></span>引体向上</a></dd>
					<dd><a href=""><span class="iconfont icon-fabuxuqiu"></span>铅球</a></dd>
					<dd><a href=""><span class="iconfont icon-fabuxuqiu"></span>立定跳远</a></dd>
				</dl>
			</div>
			<div class="page_right">
				<div class="list_tit"><span>50米跑项目</span></div>
				<div class="list_cont">
					<p> 健身操运动坚持“以人为性”的理念，健身操的运动形式是根据人们的需要，运用科学方法作为指导而人为地进行动作创造和习练。为了达到增强体质的目的，健身操可以通过改变身体姿势、动作方向、路线、动作频率、速度和节奏来进行调节。</p>
					<p>运动特点：</p>
					<p> 健美操一般具有以下几个特点：</p>
					<p> 1、练习动作简单易学能懂，适合于不同年龄层次；</p>
					<p> 2、强调动作对称且重复练习； 拉丁健身操</p>
					<p> 3、强调大幅度动作练习；</p>
					<p> 4、集体练习为主；</p>
					<p>5、具有明快的节奏，形成动感和韵律风格。 </p>
					<p> 健美操是融体操、音乐、舞蹈于一体的追求人体健康与美的运动项目，因此，健美操具有体育、舞蹈、音乐、美育等多种社会文化功能。通过健美操的锻炼达到改善体质、增进健康、塑造体型、控制体重、愉悦精神、陶冶情操等“三健”目的。</p>
					<p>适宜人群：</p>
					<p> 由于健美操可以根据人群需要进行创作和习练的特点，健美操具有广泛的受众人群。根据锻炼的不同需要和目的，人们可以选择不同的健美操种类。</p>
					<p>几点建议：</p>
					<p>由于健美操一般具有较强的节奏感和较大的运动幅度，健身操的习练者应该重视每次热身准备和整理活动；穿戴有弹性的运动服和有弹性的有氧健身操性的运动鞋；防止快速和大幅度的强直收缩，尤其是初学者和弱体质、中年人和准老年人，以防肌肉突然拉伤。并且要在运动过程中严格要求自己，动作到位，并能够坚持锻炼。
						健身操与其他体育项目也有诸多结合，比如健身球操、杠铃操、搏击操等等。项目十分丰富，可以依据个人兴趣进行选择。 </p>
				</div>
				<div class="list_tit"><span>指标达标值</span></div>
				<div class="list_cont">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>项目</th>
								<th colspan="2">大一</th>
								<th colspan="2">大二</th>
								<th colspan="2">大三</th>
								<th colspan="2">大四</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>&nbsp;</td>
								<td>男</td>
								<td>女</td>
								<td>男</td>
								<td>女</td>
								<td>男</td>
								<td>女</td>
								<td>男</td>
								<td>女</td>
							</tr>
							<tr>
								<td>满分</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
							</tr>
							<tr>
								<td>优秀</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
								<td>1分03秒</td>
								<td>1分23秒</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>



		<!--底部代码-->
		<div class="bottom w_long">
			<div class="bottom_copy">
				<p>
					Copyright @ 2019-2022 西安邮电大学维护</br>
					网站备案号：陕IPC243434****-01
				</p>
			</div>
		</div>
	</body>
</html>
