<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>西安邮电大学-学生健康管理系统</title>
		<script src="js/jquery-3.2.0.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/public.js"></script>
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="css/public.css" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript">
			$(document).ready(function() {

			});
		</script>
	</head>

	<body>
		<!--页面top-->
		<div class="top">
			<div class="top_nav">
				<ul>
					<li><a href="#">设为首页</a></li>
					<li><a href="#">加入收藏</a></li>
					<li><a href="#">西邮主站</a></li>
				</ul>
			</div>
		</div>
		<!--导航-->
		<div class="header flex">
			<div class="logo"> <img src="images/logo.png" alt="西安邮电大学" /></div>
			<div class="menu">
				<ul>
					<li>
						<h3><span>信息&下载</span></h3>
						<ul>
							<li><a href="">通知公告</a></li>
							<li><a href="">相关下载</a></li>
						</ul>
					</li>
					<li>
						<h3><a href=""><span>健康知识</span></a></h3>
					</li>
					<li>
						<h3><a href=""><span>项目&目标</span></a></h3>
						<ul>
							<li><a href="">项目介绍</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="top_member">
				<ul>
					<li> <a href="member_stu.html"><i class="icon"></i> 张同学</a></li>
					<li> <a href="">常见问题</a></li>
					<li> <a href="member_tea.html" class="btn_exit">LogOut</a></li>
				</ul>
			</div>
		</div>
		<!--页面位置导航-->
		<div class="page_title flex">
			<div class="navigation">
				<a href="">首页</a><em>/</em>
				<!-- <a href="">信息&下载</a><em>/</em> -->
				<span>体侧数据管理</span>
			</div>
			<div class="time">当前时间：2021年10月09日 22:22:22 星期五</div>
		</div>

		<!--页面内容部分-->
		<div class="page flex">
			<div class="page_nav">
				<h3>功能菜单</h3>
				<dl>
					<dd><a href="member_tea.html"><span class="iconfont icon-fabuxuqiu"></span>学生数据</a></dd>
					<dd><h4 class="this"><span class="iconfont icon-fabuxuqiu"></span>学生体测数据</h4>
						<dl>
							<dd><a href="member_tea_data.html"  class="hover"> 体测数据管理</a></dd>
						</dl>
					</dd>
					<dd>
						<h4><span class="iconfont icon-fabuxuqiu"></span>统计分析</h4>
						<dl>
							<dd><a href="member_tea_analysis01.html"> 全校综合情况</a></dd>
							<dd><a href="member_tea_analysis02.html"> 单项目情况</a></dd>
							<dd><a href="member_tea_analysis03.html"> 指标情况</a></dd>
						</dl>
					</dd>
					<dd>
						<h4><span class="iconfont icon-fabuxuqiu"></span>网站信息维护</h4>
						<dl>
							<dd><a href="editor_list.html"> 通知公告</a></dd>
							<dd><a href="editor_list.html"> 相关下载</a></dd>
							<dd><a href="editor_list.html"> 工作动态</a></dd>
							<dd><a href="editor_list.html"> 常见问题</a></dd>
							<dd><a href="editor_list.html"> 健康知识</a></dd>
						</dl>
					</dd>
					<dd>
						<h4><span class="iconfont icon-fabuxuqiu"></span>健康指导维护</h4>
						<dl>
							<dd><a href="editor_editor.html"> 健康意见编辑</a></dd>
						</dl>
					</dd>
				</dl>
			</div>
			<div class="page_right">
				<div class="search_top">
					<form class="form-inline selected" role="form">
						<div class="form-group">
							<label for="name">学院：</label>
							<select class="form-control">
								<option>全部学院</option>
								<option>管理学院</option>
								<option>经济学院</option>
								<option>物理学院</option>
								<option>计算机学院</option>
							</select>
						</div>
						<div class="form-group">
							<label for="name">系别：</label>
							<select class="form-control">
								<option>全部专业</option>
								<option>计算机管理专业</option>
								<option>企业管理专业</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="form-group">
							<label for="name">班级：</label>
							<select class="form-control">
								<option>全部班级</option>
								<option>经管2019班</option>
								<option>经管2019班</option>
								<option>经管2019班</option>
								<option>经管2019班</option>
							</select>
						</div>
						<div class="form-group">
							<label for="name">性别：</label>
							<select class="form-control">
								<option>全部</option>
								<option>男</option>
								<option>女</option>
							</select>
						</div>
					</form>
					<form class="form-inline search" role="form">
						<div class="form-group">
							<label for="firstname">学号/姓名查询：</label>
							<div class="form-control">
								<input type="text" id="firstname" placeholder="请输入名字">
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">查询</button>
						</div>
						<div class="form-group">
							<p>查询会重置筛选条件</p>
						</div>

					</form>
				</div>
				
				<div class="stu_list">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>序号</th>
								<th>学号</th>
								<th>姓名</th>
								<th>总成绩</th>
								<th>总等级</th>
								<th>身高</th>
								<th>体重</th>
								<th>身高体重得分</th>
								<th>身高体重等级</th>
								<th>肺活量</th>
								<th>肺活量得分</th>
								<th>肺活量等级</th>
								<th>50米成绩</th>
								<th>50米得分</th>
								<th>50米等级</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>西邮1101</td>
								<td><a href="">张同学</a></td>
								<td>男</td>
								<td>经济信息管理专业</td>
								<td>大一</td>
								<td>全部合格</td>
								<td>残疾</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>



		<!--底部代码-->
		<div class="bottom w_long">
			<div class="bottom_copy">
				<p>
					Copyright @ 2019-2022 西安邮电大学维护</br>
					网站备案号：陕IPC243434****-01
				</p>
			</div>
		</div>
	</body>
</html>
