<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>西安邮电大学-学生健康管理系统</title>
    <script src="js/jquery-3.2.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/public.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/echarts.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="css/public.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <!--时间选择器-->
    <!--		<link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">-->
    <!--		<link href="assets/theme/css/tempusdominus-bootstrap-4.css" rel="stylesheet">-->
    <!--		<script src="assets/js/moment-with-locales.min.js"></script>-->
    <!--		<script src="assets/js/tempusdominus-bootstrap-4.js"></script>-->
    <!--时间选择器-->

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
</head>

<body>
<div id="app">
    <!--页面top-->
    <div class="top">
        <div class="top_nav">
            <ul>
                <li><a href="#">设为首页</a></li>
                <li><a href="#">加入收藏</a></li>
                <li><a href="#">西邮主站</a></li>
            </ul>
        </div>
    </div>
    <!--导航-->
    <div class="header flex">
        <div class="logo"><img src="images/logo.png" alt="西安邮电大学"/></div>
        <div class="menu">
            <ul>
                <li>
                    <h3><span>信息&下载</span></h3>
                    <ul>
                        <li><a href="">通知公告</a></li>
                        <li><a href="">相关下载</a></li>
                    </ul>
                </li>
                <li>
                    <h3><a href=""><span>健康知识</span></a></h3>
                </li>
                <li>
                    <h3><a href=""><span>项目&目标</span></a></h3>
                    <ul>
                        <li><a href="">项目介绍</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="top_member">
            <ul>
                <li><a href="member_stu.html"><i class="icon"></i> 张同学</a></li>
                <li><a href="">常见问题</a></li>
                <li><a href="member_tea.html" class="btn_exit">LogOut</a></li>
            </ul>
        </div>
    </div>
    <!--页面位置导航-->
    <div class="page_title flex">
        <div class="navigation">
            <a href="">首页</a><em>/</em>
            <!-- <a href="">信息&下载</a><em>/</em> -->
            <span>全校综合情况</span>
        </div>
        <div class="time">当前时间：2021年10月09日 22:22:22 星期五</div>
    </div>

    <!--页面内容部分-->
    <div class="page flex">
        <div class="page_nav">
            <h3>功能菜单</h3>
            <dl>
                <dd><a href="member_tea.html"><span class="iconfont icon-fabuxuqiu"></span>学生数据</a></dd>
                <dd>
                    <h4 class="this"><span class="iconfont icon-fabuxuqiu"></span>统计分析</h4>
                    <dl>
                        <dd><a href="member_tea_analysis01.html" class="hover"> 全校综合情况</a></dd>
                        <dd><a href="member_tea_analysis02.html"> 单项目情况</a></dd>
                        <dd><a href="member_tea_analysis03.html"> 指标情况</a></dd>
                    </dl>
                </dd>
                <dd>
                    <h4><span class="iconfont icon-fabuxuqiu"></span>网站信息维护</h4>
                    <dl>
                        <dd><a href="editor_list.html"> 通知公告</a></dd>
                        <dd><a href="editor_list_download.html"> 相关下载</a></dd>
                    </dl>
                </dd>
                <dd>
                    <h4><span class="iconfont icon-fabuxuqiu"></span>健康指导维护</h4>
                    <dl>
                        <dd><a href="editor_editor.html"> 健康意见编辑</a></dd>
                    </dl>
                </dd>
            </dl>
        </div>
        <div class="page_right">
            <div class="analysis_top flex">
                <h3>全校综合情况分析</h3>
                <div class="date_screening">
                    <form>
                        <div class="row">
                            <div class="col-sm-4 ">
                                <a href="">全部报告数据</a>
                            </div>
                            <script type="text/javascript">
                                // $(function() {
                                // 	$('#datetimepicker5').datetimepicker();
                                // 	$('#datetimepicker6').datetimepicker();
                                // });
                            </script>
                        </div>
                    </form>
                </div>
            </div>
            <div class="data_card flex">
                <div class="card"><a href="member_tea_analysis01_02.html">
                    <span>学生总数</span>
                    <h2>{{show_num[0]}}</h2></a>
                </div>
                <div class="card"><a href="member_tea_analysis01_02.html">
                    <span>优秀人数</span>
                    <h2>{{show_num[1]}}</h2></a>
                </div>
                <div class="card"><a href="member_tea_analysis01_02.html">
                    <span>不合格人数</span>
                    <h2>{{show_num[2]}}</h2></a>
                </div>
            </div>

            <div class="page_tab">
                <ul class="title">
                    <li><span>成绩分布</span></li>
                    <li><a href="member_tea_analysis01_03.html">按年级查看</a></li>
                </ul>
            </div>
            <div class="page_cont_box">
                <div class="results_box flex">
                    <div class="results">
                        <h3>成绩分布</h3>
                        <div id="grade" class="data_eachert">
                            <!--                        <img src="images/u3086.png" style="height: 310px;"/>-->
                        </div>
                    </div>
                    <div class="ranking">
                        <h3>合格率专业排名</h3>
                        <div class="box">
                            <dl v-for="(passRate,item) of majorAndPassRate" :key="item">
                                    <dd><i class="dark">{{item}}</i>
                                        <p>{{passRate.major}}</p><span>{{passRate.jigelv}}</span>
                                    </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="results_box flex">
                    <div class="results_list">
                        <h3>单项合格情况</h3>
                        <div class="box">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>项目名称</th>
                                    <th>合格率</th>
                                    <th>最好成绩</th>
                                </tr>
                                </thead>
                                <tbody v-for="(PassRate,item) of Hege" :key="item">

                                <tr>
                                    <td>{{PassRate.rank_}}</td>
                                    <td>
                                        <a href="member_tea_analysis01_01.html"><font color="#009DD9">{{PassRate.item}}</font></a>
                                    </td>
                                    <td>{{PassRate.passRateOrNotPassRate}}%</td>
                                    <td>{{PassRate.bestScore}}</td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td>1</td>-->
<!--                                    <td>-->
<!--                                        <a href="member_tea_analysis01_01.html"><font color="#009DD9">50米跑</font></a>-->
<!--                                    </td>-->
<!--                                    <td>99%</td>-->
<!--                                    <td>1'11"</td>-->
<!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="results_list">
                        <h3>单项不合格情况</h3>
                        <div class="box">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>排名</th>
                                    <th>项目名称</th>
                                    <th>不合格占比</th>
                                    <th>最差成绩</th>
                                </tr>
                                </thead>
                                <tbody v-for="(PassRate,item) of buHege" :key="item">
                                <tr>
                                    <td>{{PassRate.rank_}}</td>
                                    <td>
                                        <a href="member_tea_analysis01_01.html"><font color="#009DD9">{{PassRate.item}}</font></a>
                                    </td>
                                    <td>{{PassRate.passRateOrNotPassRate}}%</td>
                                    <td>{{PassRate.bestScore}}</td>
                                </tr>
<!--                                <tr>-->
<!--                                    <td>1</td>-->
<!--                                    <td>-->
<!--                                        <font color="#009DD9">50米跑</font>-->
<!--                                    </td>-->
<!--                                    <td>99%</td>-->
<!--                                    <td>2356</td>-->
<!--                                </tr>-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="pass_box">
                    <div class="price">
                        <div class="category">
                            <ul>
                                <li class="active">
                                    <p style="	font-weight: 600;color: #00a4ff;">800米</p>
                                    <div style="width: 100px;height: 100px" id="800m"></div>
                                </li>
                                <li class="pass_img">
                                    <p style="	font-weight: 600;color: #00a4ff;">1000米</p>
                                    <div style="width: 100px;height: 100px" id="1000m"></div>
                                </li>
                                <li class="pass_img">
                                    <p style="	font-weight: 600;color: #00a4ff;">坐位体前屈</p>
                                    <div style="width: 100px;height: 100px" id="zuoweitiqianqu"></div>
                                </li>
                                <li class="pass_img">
                                    <p style="	font-weight: 600;color: #00a4ff;">跳远</p>
                                    <div style="width: 100px;height: 100px" id="tiaoyuan"></div>
                                <li class="pass_img">
                                    <p style="	font-weight: 600;color: #00a4ff;">50米</p>
                                    <div style="width: 100px;height: 100px" id="50m"></div>
                                </li>
                                <li class="pass_img">
                                    <p style="	font-weight: 600;color: #00a4ff;">引体向上</p>
                                    <div style="width: 100px;height: 100px" id="yinti"></div>
                                </li>
                                <li class="pass_img">
                                    <p style="	font-weight: 600;color: #00a4ff;">仰卧起坐</p>
                                    <div style="width: 100px;height: 100px" id="yangwo"></div>
                                </li>
                                <li class="pass_img">
                                    <p style="	font-weight: 600;color: #00a4ff;">肺活量</p>
                                    <div style="width: 100px;height: 100px" id="feihuo"></div>
                                </li>
                            </ul>
                            <a href="javascript:;" class=""><span></span></a>
                            <a href="javascript:;" class=""><span></span></a>
                        </div>
                        <h5>合格率趋势</h5>
                        <div class="cont active">

                            <div id="hege1" style="width: 1000px;height: 350px" class="cont_main">
                            </div>
                        </div>
                        <div class="cont ">
                            <div id="hege2" style="width: 1000px;height: 350px" class="cont_main">
                                <!--                            <img src="images/qushi2.png"/>-->
                            </div>
                        </div>
                        <div class="cont ">
                            <div id="hege3" style="width: 1000px;height: 350px" class="cont_main">
                                <!--                            <img src="images/qushi2.png"/>-->
                            </div>
                        </div>
                        <div class="cont ">
                            <div id="hege4" style="width: 1000px;height: 350px" class="cont_main">
                                <!--                            <img src="images/qushi2.png"/>-->
                            </div>
                        </div>
                        <div class="cont ">
                            <div id="hege5" style="width: 1000px;height: 350px" class="cont_main">
                                <!--                            <img src="images/qushi2.png"/>-->
                            </div>
                        </div>
                        <div class="cont ">
                            <div id="hege6" style="width: 1000px;height: 350px" class="cont_main">
                                <!--                            <img src="images/qushi2.png"/>-->
                            </div>
                        </div>
                        <div class="cont ">
                            <div id="hege7" style="width: 1000px;height: 350px" class="cont_main">
                                <!--                            <img src="images/qushi2.png"/>-->
                            </div>
                        </div>
                        <div class="cont ">
                            <div id="hege8" style="width: 1000px;height: 350px" class="cont_main">
                                <!--                            <img src="images/qushi2.png"/>-->
                            </div>
                        </div>

                    </div>


                </div>
            </div>


        </div>


    </div>

</div>


<!--底部代码-->
<div class="bottom w_long">
    <div class="bottom_copy">
        <p>
            Copyright @ 2019-2022 西安邮电大学维护</br>
            网站备案号：陕IPC243434****-01
        </p>
    </div>
</div>
</div>
</body>
<script>
    // init vue instance
    let vm = new Vue({
        el:'#app',
        data:()=>{
            return {
                show_num:[],
                boy_and_girl_score:[],
                majorAndPassRate:[],
                Hege:[],
                buHege:[],
                HegeByItem:{},

            }
        },
        mounted(){
            // var i = window.localStorage.getItem("userId")//获取对应的userId
            // if(i==null){
            //     window.location.href='index.html'
            // }
            this.getRecentAllSchoolScore();
            this.getMajorHegeRank();
            this.getHege();
            this.getbuHege();
            this.GetEchartsData();
            this.GetEchartsData2();
        },
        methods:{
            getRecentAllSchoolScore(){
                var self = this;
                $.ajax({

                    url:"/test-score/getRecentAllSchoolScore",
                    method: "get",
                    success: function (result) {
                        self.show_num = result.obj
                    },
                    error: function () {
                        alert("请求服务器失败!");
                    }
                })
            },
            showEchartsOfTea(){
                <!--	成绩分布条形图-->

                var chartDom = document.getElementById('grade');
                var myChart = echarts.init(chartDom);
                var option = {
                    legend: {
                        data: ['女', '男']
                    },
                    xAxis: {
                        type: 'category',
                        data: ['优秀', '良好', '及格', '不及格']
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '女',
                            type: 'bar',
                            data: this.boy_and_girl_score[1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }, {
                            name: '男',
                            type: 'bar',
                            data: this.boy_and_girl_score[0],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        }
                    ]
                }
                option && myChart.setOption(option);
//    800米合格率
                var e=this.HegeByItem["800米"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('800m'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);
                //    100米合格率
                var e=this.HegeByItem["1000米"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('1000m'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);
                //   跳高合格率
                var e=this.HegeByItem["坐位体前屈"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('zuoweitiqianqu'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);
                //   跳远合格率
                var e=this.HegeByItem["跳远"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('tiaoyuan'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);

                //   仰卧起坐合格率
                var e=this.HegeByItem["50米"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('50m'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);
                //  立定跳远合格率
                var e=this.HegeByItem["引体向上"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('yinti'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);
                //  立定跳远合格率
                var e=this.HegeByItem["仰卧起坐"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('yangwo'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);
                //  立定跳远合格率
                var e=this.HegeByItem["肺活量"][1][3]*100;
                var Chart4 = echarts.init(document.getElementById('feihuo'));
                var option = {
                    title:{
                        show:true,
                        text:'合格率'+"\n"+e+'%',
                        x:'center',
                        y:'center',
                        textStyle: {
                            fontSize: '15',
                            color:'blue',
                            fontWeight: 'normal'
                        }
                    },
                    tooltip: {
                        trigger: 'item',
                        formatter: "{d}%",
                        show:false
                    },
                    legend: {
                        orient: 'vertical',
                        x: 'left',
                        show:false
                    },
                    series:
                        {
                            name:'',
                            type:'pie',
                            radius: ['65%', '85%'],
                            avoidLabelOverlap: true,
                            hoverAnimation:false,
                            label: {
                                normal: {
                                    show: false,
                                    position: 'center'
                                },
                                emphasis: {
                                    show: false
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: true,
                                }
                            },
                            data:[
                                {value:e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#0000FF",
                                        },
                                    },
                                },
                                {value:100-e, name:'',
                                    itemStyle: {
                                        normal: {
                                            color:"#E6E6FA",
                                        },
                                    },
                                }
                            ]
                        }

                };
                Chart4.setOption(option);

                //合格率趋势1
                var chartDom = document.getElementById('hege1');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["800米"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data:  [],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }

                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["800米"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
                //合格率趋势2
                var chartDom = document.getElementById('hege2');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["1000米"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["1000米"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data: [],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
                //合格率趋势3
                var chartDom = document.getElementById('hege3');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["坐位体前屈"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["坐位体前屈"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["坐位体前屈"][2],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
                //合格率趋势4
                var chartDom = document.getElementById('hege4');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["跳远"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["跳远"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data:  this.HegeByItem["跳远"][2],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
                //合格率趋势5
                var chartDom = document.getElementById('hege5');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["50米"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["50米"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["50米"][2],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
                //合格率趋势6
                var chartDom = document.getElementById('hege6');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["引体向上"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["引体向上"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["引体向上"][2],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
                //合格率趋势7
                var chartDom = document.getElementById('hege7');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["仰卧起坐"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data:this.HegeByItem["仰卧起坐"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["仰卧起坐"][2],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
                //合格率趋势8
                var chartDom = document.getElementById('hege8');
                var myChart = echarts.init(chartDom);
                var option;

                option = {
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['男', '女']
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            saveAsImage: {}
                        }
                    },
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: this.HegeByItem["肺活量"][0]
                    },
                    yAxis: {
                        type: 'value'
                    },
                    series: [
                        {
                            name: '男',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["肺活量"][1],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#1E90FF',
                                }
                            }
                        },
                        {
                            name: '女',
                            type: 'line',
                            stack: 'Total',
                            data: this.HegeByItem["肺活量"][2],
                            itemStyle: {
                                normal: {
                                    //这里是重点
                                    color: '#FF69B4',
                                }
                            }
                        }
                    ]
                };

                option && myChart.setOption(option);
            },
            GetEchartsData(){
                var self = this;
                $.ajax({
                        url:"/test-score/getAllRankNum",
                        method: "get",
                        success: function (result) {
                            self.boy_and_girl_score = result.obj;
                            self.showEchartsOfTea();
                        },
                        error: function () {
                            alert("请求服务器失败!");
                        }
                })

            },
            getMajorHegeRank(){
                var self = this;
                $.ajax({
                    url:"/test-score/getMajorHegeRank",
                    method: "get",
                    success: function (result) {
                        self.majorAndPassRate= result.obj;
                    },
                    error: function () {
                        alert("请求服务器失败!");
                    }
                })
            },
            getHege(){
                var self = this;
                $.ajax({

                    url:"/test-score/getHege",
                    method: "get",
                    success: function (result) {
                        self.Hege= result.obj;
                    },
                    error: function () {
                        alert("请求服务器失败!");
                    }
                })
            },
            getbuHege(){
                var self = this;
                $.ajax({

                    url:"/test-score/getBuHege",
                    method: "get",
                    success: function (result) {
                        self.buHege= result.obj;
                    },
                    error: function () {
                        alert("请求服务器失败!");
                    }
                })
            },
            GetEchartsData2(){
                var self = this;
                $.ajax({
                    url:"/test-score/getHegeByItem",
                    method: "get",
                    success: function (result) {
                        self.HegeByItem = result.obj;
                        self.showEchartsOfTea();
                    },
                    error: function () {
                        alert("请求服务器失败!");
                    }
                })
            }
        }
    })
    // 对应着e charts

</script>
</html>
