<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.mapper.DownloadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hjy.pojo.Download">
        <id column="download_id" property="downloadId" />
        <result column="download_name" property="downloadName" />
        <result column="download_content" property="downloadContent" />
        <result column="time" property="time" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        download_id, download_name, download_content, time
    </sql>
    <select id="getServiceList" resultMap="BaseResultMap">
            select *
        from download order by time DESC limit 5
</select>
  <select id="getAllList" resultMap="BaseResultMap">
            select *
        from download order by time DESC
</select>
<update id="updateDownload">
        update download set download_name = #{download.downloadName},download_content=#{download.downloadContent},download_time = #{download.time}
        where download_id = #{download.downloadId}
</update>
<insert id="addDownload">
        insert into download values(null,#{download.downloadName},#{download.downloadContent},#{download.time})
</insert>

</mapper>
