<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.mapper.NoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hjy.pojo.Notice">
        <id column="notice_id" property="noticeId" />
        <result column="notice_name" property="noticeName" />
        <result column="notice_date" property="noticeDate" />
        <result column="notice_content" property="noticeContent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        notice_id, notice_name, notice_date, notice_content
    </sql>
    <select id="getNoticeList" resultMap="BaseResultMap">
        select *
        from notice order by notice_date DESC limit 5
    </select><select id="getAllNotice" resultMap="BaseResultMap">
      select *
        from notice order by notice_date DESC
</select>
<update id="updateNotice">
    update notice set notice_name=#{notice.noticeName},notice_date = #{notice.noticeDate},notice_content=#{notice.noticeContent}
    where  notice_id = #{notice.noticeId}
</update>
<insert id="addNotice">
    insert into notice values(null,#{notice.noticeName},#{notice.noticeDate},#{notice.noticeContent})
</insert>

</mapper>
