<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.mapper.SuggestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hjy.pojo.Suggestion">
        <id column="suggestion_id" property="suggestionId" />
        <result column="teacher_sug" property="teacherSug" />
        <result column="class_sug" property="classSug" />
        <result column="test_score_id" property="testScoreId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        suggestion_id, teacher_sug, class_sug, test_score_id
    </sql>
    <select id="selectSugByTestScoreId" resultMap="BaseResultMap">
        select * from suggestion where test_score_id = #{id}
    </select>

</mapper>
