<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjy.mapper.SuggestionClassifyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hjy.pojo.SuggestionClassify">
        <id column="id" property="id" />
        <result column="item" property="item" />
        <result column="item_rank" property="itemRank" />
        <result column="sug" property="sug" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item, item_rank, sug
    </sql>
    <select id="selectSug" resultType="java.lang.String">
        select sug from suggestion_classify where id = #{parseInt}
    </select>
    <update id="changeSug">
    update suggestion_classify set sug=#{suggestionClassify.sug}
    where id = #{suggestionClassify.id}
</update>

</mapper>
